@import url(./__header/Form__header.css);
@import url(./__input/Form__input.css);
@import url(./__input/_textarea/Form__input_textarea.css);
@import url(./__button/Form__button.css);
@import url(./__button/_is-active/Form__button_is-active.css);

.form {
    width: 500px;
    height: 500px;
    background-color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}