.form__button {
    width: 200px;
    height: 40px;
    background-color: #c5c5c5;
    opacity: .3;
    color: #000;
    border: 1px solid #838383;
    border-radius: 10px;
    font-size: 20px;
    cursor: not-allowed;
}